<html>
<head>
    <title>MovieLens - {{ prefix.title() }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/"><i class="fa fa-database"></i> MovieLens</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
	<li><a href="/genre/">Genres</a></li>
	<li><a href="/year/">Years</a></li>
    </ul>
    <form class="navbar-form" action="/">
	<div class="form-group">
	    <label class="control-label sr-only">Title</label>
	    <input type="text" name="title" value="{{ title }}" class="form-control" placeholder="Title to search for">
	</div>

	<div class="form-group">
	    <label class="control-label sr-only">Limit</label>
	    <select name="limit" class="form-control">
	    {% for i in (10, 25, 50, 100, 1000, 5000) %}
		<option value="{{ i }}">{{ i }}</option>
	    {% end %}
	    </select>
	</div>
	<div class="form-group">
	    <button type="submit" class="btn btn-success">Search</button>
	</div>
    </form>
    </div>
</nav>

<div class="container">
    <div class="row">
	{% for group, in groups %}
	<div class="col-sm-3">
	    <a href="/{{ prefix }}/{{ group }}" class="thumbnail text-center">
		<i class="fa fa-video-camera fa-5x"></i>
		<div class="caption">
		    <h4>{{ group }}</h4>
		</div>
	    </a>
	</div>
	{% end %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
